<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xm.mapper.XmXmMapper">
    
    <resultMap type="com.ruoyi.xm.domain.XmXm" id="XmXmResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="xmName"    column="xm_name"    />
        <result property="xmCreateTime"    column="xm_create_time"    />
        <result property="xmJianJie"    column="xm_jian_jie"    />
        <result property="xmUser"    column="xm_user"    />
        <result property="xmLeader"    column="xm_leader"    />
        <result property="xmWenJie"    column="xm_wen_jie"    />
    </resultMap>

    <sql id="selectXmXmVo">
        select id, dept_id, xm_name, xm_create_time, xm_jian_jie, xm_user, xm_leader, xm_wen_jie from xm_xm
    </sql>

    <select id="selectXmXmList" parameterType="XmXm" resultMap="XmXmResult">
        <include refid="selectXmXmVo"/>
        <where>  
            <if test="xmName != null  and xmName != ''"> and xm_name like concat('%', #{xmName}, '%')</if>
            <if test="xmJianJie != null  and xmJianJie != ''"> and xm_jian_jie = #{xmJianJie}</if>
            <if test="xmUser != null  and xmUser != ''"> and xm_user = #{xmUser}</if>
            <if test="xmLeader != null "> and xm_leader = #{xmLeader}</if>
            <if test="xmWenJie != null  and xmWenJie != ''"> and xm_wen_jie = #{xmWenJie}</if>
        </where>
    </select>
    
    <select id="selectXmXmById" parameterType="Long" resultMap="XmXmResult">
        <include refid="selectXmXmVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertXmXm" parameterType="XmXm" useGeneratedKeys="true" keyProperty="id">
        insert into xm_xm
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="xmName != null">xm_name,</if>
            <if test="xmCreateTime != null">xm_create_time,</if>
            <if test="xmJianJie != null">xm_jian_jie,</if>
            <if test="xmUser != null">xm_user,</if>
            <if test="xmLeader != null">xm_leader,</if>
            <if test="xmWenJie != null">xm_wen_jie,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="xmName != null">#{xmName},</if>
            <if test="xmCreateTime != null">#{xmCreateTime},</if>
            <if test="xmJianJie != null">#{xmJianJie},</if>
            <if test="xmUser != null">#{xmUser},</if>
            <if test="xmLeader != null">#{xmLeader},</if>
            <if test="xmWenJie != null">#{xmWenJie},</if>
         </trim>
    </insert>

    <update id="updateXmXm" parameterType="XmXm">
        update xm_xm
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="xmName != null">xm_name = #{xmName},</if>
            <if test="xmCreateTime != null">xm_create_time = #{xmCreateTime},</if>
            <if test="xmJianJie != null">xm_jian_jie = #{xmJianJie},</if>
            <if test="xmUser != null">xm_user = #{xmUser},</if>
            <if test="xmLeader != null">xm_leader = #{xmLeader},</if>
            <if test="xmWenJie != null">xm_wen_jie = #{xmWenJie},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXmXmById" parameterType="Long">
        delete from xm_xm where id = #{id}
    </delete>

    <delete id="deleteXmXmByIds" parameterType="String">
        delete from xm_xm where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>